* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--theme-font: 'Roboto', sans-serif;
	--theme-color: #f46d67;
}



html {
	font-family: var(--theme-font);
	font-size: 16px;
}

body {
	background: #1e2140;
}

